<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent >
            <clientCache cacheControlMode="DisableCache"/>
            <!--<mimeMap fileExtension=".js" mimeType="application/javascript" />-->
        </staticContent>
    </system.webServer>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
