<!-- template to use to visualize the item - just use a span -->
<div class="demo" >
    <div >
        <label for="enterDate">Enter Date</label>
        <input type="text" name="enterDate" id="enterDate" data-bind="value: source, datePicker: { yearRange:'2005:2015', dateFormat:'D M d yy'}" />
    </div>
    <div>
        <code>
            <pre>
    &lt;label for="enterDate"&gt;Enter Date&lt;/label&gt;
    &lt;input type="text" id="enterDate" data-bind="value: source, datePicker: { yearRange:'2005:2015', dateFormat:'D M d yy' }" /&gt;
            </pre>
        </code>

    </div>
</div>